.FormNewPost h1 {
    padding-left: 0px !important;
    margin: 0px !important;

}

.FormNewPost textarea {
    padding-left: 10px;
    background: transparent;
    border: 0px;
    border: 1px solid #c3c3c3;
    margin-bottom: 12px;
}




.TooltipWrapper {
    position: relative;
}
.TooltipWrapper .TooltipMod {
    display: none;
    position: absolute;
    padding-top: 6em;
    margin: 0 0 12px 0;
}
.TooltipWrapper .TooltipMod h4 {
    font-weight: bold;
    font-size: 1.2em;
}
.TooltipWrapper .TooltipMod ul {
    list-style: none;
    padding: 0;
    font-weight: normal;
}
