.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #acacac;
  padding: 1rem;
  box-shadow: 3px 3px 5pc #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
