header {
  height: 40px;
  width: 100%;
  background-color: peru;
}

nav {
  height: 40px;
  width: 100%;
  background-color: lightblue;
}

section {
  width: 70%;
  float: left;
  background-color: palegreen;
  position: inline-block;
}

article {
  width: 100%;
  height: 60px;
  background-color: indigo;
}

aside {
  height: 80px;
  width: 30%;
  float: left;
  background-color: grey;
  position: inline-block;
}

footer {
  height: 30px;
  width: 100%;
  float: left;
  background-color: lightpink;
}
