
ul.filter li{
    margin: 0 5px;
    cursor: pointer;
}

ul.filter li:hover{
    background-color: #d2d6db;
    border-radius: 5px;
    color: #4749DF ;
}

ul.filter li.active{
    border-bottom: solid #4749DF 4px;
    color: black;
}

h3{
    font-size: 16pt;
}