

.AppLoading{
    display:none ;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: var(--loading-background-color);
}


.AppLoading.active{
    display: block;
}

/* Esto de arriba no funciona pq al usar el modules.css hay problema cuando se hace un cambio de clase.
Si fuera un css normal si detecta el cambio de clase sin problema.AppLoading
Para resolver esto tenemos que hacer dos clases y llamarlas de la siguiente manera:
const active = this.state.active === true ? Styles.AppLoadingHidden : Styles.AppLoadingVisible */

.AppLoadingHidden{
    display:none ;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    justify-content: center;

    background-color: var(--loading-background-color);
}


.AppLoadingVisible{
    display:flex ;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    justify-content: center;

    background-color: var(--loading-background-color);
}
