.CardRight {
    cursor: pointer;
}

.CardRight li:hover {
    cursor: pointer;
    color: #4749df;
}
.CardRight li h6 {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
    font-weight: normal;
}
.CardRight .list-group-item {
    margin-bottom: 1px;
}


.CardRight .CardTopHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: baseline;
    font-size: 18px;
}