$color-dark-blue: hsl(233, 26%, 24%);
$color-lime-green: hsl(136, 65%, 51%);
$color-bright-cyan: hsl(192, 70%, 51%);

$color-grayish-blue: hsl(233, 8%, 62%);
$color-light-grayish-blue: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-White: hsl(0, 0%, 100%);
$size-title: 35px;
$size-title-second: 32px;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}
h1{
  font-size: $size-title;
  color: $color-dark-blue;
  
}
h2{
  font-size: $size-title-second;
  color: $color-dark-blue;
  
}
button {
  background: linear-gradient(
    90deg,
    $color-lime-green 0%,
    $color-bright-cyan 100%
  );
  color: white;
  padding: 18px 42px;
  border-radius: 42px;
  border: none;
  font-size: 12pt;
  cursor: pointer;
}

section {
  padding: 20px 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;

  nav {
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    cursor: pointer;
  }
}

#section-principal {
  text-align: center;
  color: $color-grayish-blue;
  background-color: $color-very-light-gray;;
  &:first-of-type {
    background-image: url("images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  img {
    width: 100%;
  }
}

footer {
  background-color: $color-dark-blue;
  padding: 20px 0;

  & > div {
    padding: 10px 0;
  }

  & div:nth-child(2) {
    padding-bottom: 0px;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      padding: 10px 0;
    }
  }
  .col2 {
    color: #fff;
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 8px 0;
      }
    }
  }
  .col3 {
    color: #fff;
    display: flex;
    justify-content: center;
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 8px 0;
      }
    }
  }
  .col4 {
    display: flex;
    justify-content: center;
  }
}

#section-dos{
  background-color: $color-light-grayish-blue;
  text-align: center;
  font-size: 1.2rem;
  div{
      /*border:1px solid white;*/
      padding: 30px 10px;    
  }
  h2,h3{
      margin: 20px 0;
      color:$color-dark-blue;
  }
  p{
      color:$color-grayish-blue;
  }
}

#section-tres{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: space-evenly;
  background-color: $color-very-light-gray;
  h2{
    
    text-align: center;
    
  }
  h4, p, figure figcaption{
    padding-left: 24px;
    padding-right: 24px;
  }

  div{
    background-color: $color-White;
    margin: 25px;
    border-radius: 15px 15px 0px 0px;
  }
  figure img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  figure figcaption{
    color: $color-grayish-blue;
    font-size: 11px;
    margin: 28px 0px;
    
  }
  p{
    color: $color-grayish-blue;
    margin: 15px 0px 25px;
    font-size: 13px;
    
  }
}