
  <div class="container-fluid container-lg" >
    <div class="row">
        <div class="col-12">
          <h1 class = "mt-2 text-center">Write a new post</h1>
          <form class = "ml-5 mt-5 w-50" id='write-new-post'>
              <div class="form-group">
                <label for="exampleFormControlInput1">Post Name</label>
                <input type="text" class="form-control" id="title">
                <small id="titleHelp" class="form-text text-muted" hidden>Escribe el título del Post</small>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlInput1">Cover Image</label>
                  <input type="text" class="form-control" id="coverUrl">
                  <small id="coverUrlHelp" class="form-text text-muted" hidden>Escribe la URL de la imagen principal del Post</small>
              </div>
              <label for="exampleFormControlSelect2">Categories</label>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="javaScript">
                  <label class="form-check-label" for="inlineCheckbox1">JavaScript</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="aws">
                  <label class="form-check-label" for="inlineCheckbox2">AWS</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="css">
                  <label class="form-check-label" for="inlineCheckbox3">CSS</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="jQuery">
                  <label class="form-check-label" for="inlineCheckbox4">JQuery</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="programming">
                  <label class="form-check-label" for="inlineCheckbox5">Programming</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="html">
                  <label class="form-check-label" for="inlineCheckbox6">HTML</label>
                </div>
                <small id="tagsHelp" class="form-text text-muted" hidden>Seleccione alguna alguna etiqueta para su Post</small>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Write your post content here ...</label>
                <textarea class="form-control" id="content" rows="3"></textarea>
                <small id="contentHelp" class="form-text text-muted" hidden>Escribe el contenido del Post</small>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Reading Time</label>
                  <select class="form-control custom-select" id="duration">
                    <option value="1 min read">1 min</option>
                    <option value="2 min read">2 mins</option>
                    <option value="3 min read">3 mins</option>
                    <option value="4 min read">4 mins</option>
                    <option value="5 min read">5 mins</option>
                    <option value="6 min read">6 mins</option>
                    <option value="7 min read">7 mins</option>
                    <option value="8 min read">8 mins</option>
                    <option value="9 min read">9 mins</option>
                    <option value="10 min read">10 mins</option>
                  </select>
                  <small id="durationHelp" class="form-text text-muted" hidden>Selecciona el tiempo de lectura de tu Post</small>
                </div>
                <button id='submit-new-post'type="button" class="btn btn-info mt-3 mb-5">Submit New Post</button>
            </form>
          </div>
      </div>
    </div>      

  