body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main #side-left .menu-inner-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0 15px;
}

main #side-left .menu-inner-post li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

main #side-left .menu-inner-post li > div {
  border-radius: 50%;
  padding: 6px;
  height: 40px;
  width: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #side-left .menu-inner-post li:hover:nth-child(1) div {
  background-color: #eddadb;
}

main #side-left .menu-inner-post li:hover:nth-child(1) img {
  -webkit-filter: invert(27%) sepia(55%) saturate(2394%) hue-rotate(338deg) brightness(89%) contrast(120%);
          filter: invert(27%) sepia(55%) saturate(2394%) hue-rotate(338deg) brightness(89%) contrast(120%);
}

main #side-left .menu-inner-post li:hover:nth-child(2) div {
  background-color: #daeeee;
}

main #side-left .menu-inner-post li:hover:nth-child(2) img {
  -webkit-filter: invert(45%) sepia(75%) saturate(363%) hue-rotate(128deg) brightness(96%) contrast(91%);
          filter: invert(45%) sepia(75%) saturate(363%) hue-rotate(128deg) brightness(96%) contrast(91%);
}

main #side-left .menu-inner-post li:hover:nth-child(3) div {
  background-color: #dcdff0;
}

main #side-left .menu-inner-post li:hover:nth-child(3) img {
  -webkit-filter: invert(21%) sepia(78%) saturate(2571%) hue-rotate(227deg) brightness(101%) contrast(87%);
          filter: invert(21%) sepia(78%) saturate(2571%) hue-rotate(227deg) brightness(101%) contrast(87%);
}

main #side-left .menu-inner-post li:hover:nth-child(4) div {
  background-color: #d2d6db;
}

main #post-list {
  max-width: 1280px;
}

main #post-list h1 {
  margin: 0 0 1rem;
}

main #post-list article {
  cursor: inherit;
}

main #post-list .article-body {
  margin: 0.5rem 1.25rem;
  font-size: 1.25rem;
}

main #post-list .article-body a:link,
main #post-list .article-body a:visited,
main #post-list .article-body a:active {
  color: #3b49df;
}

main #post-list .article-body .tags {
  padding: 0;
}

main #post-list .article-body .tags a {
  margin-right: 0.5rem;
}

main #post-list .article-body .tags a:nth-of-type(1) {
  background-color: #562765;
  color: white;
  padding: 0.25rem 0.5rem;
}

main #post-list .article-body .tags a:nth-of-type(2) {
  background-color: #f7df1e;
  color: #08090a;
  padding: 0.25rem 0.5rem;
}

main #post-list .article-body .tags a:nth-of-type(3) {
  background-color: #2a0798;
  color: white;
  padding: 0.25rem 0.5rem;
}

main #post-list .article-body .tags a:nth-of-type(4) {
  background-color: #008335;
  color: white;
  padding: 0.25rem 0.5rem;
}

main #post-list .article-body .autor {
  padding: 24px 0 30px 0;
}

main #post-list .article-body .autor .autor-name {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #post-list .article-body .autor .autor-name div {
  margin-right: 0.5rem;
}

main #post-list .article-body p,
main #post-list .article-body ul {
  margin: 0 0 1.25rem 0;
}

main #post-list .article-body h2 {
  padding: 0;
}

main #post-list .article-body ul {
  padding-left: 1.5rem;
}

main #post-list .article-body .article-content img {
  width: 100%;
}

main #post-list .article-body .discussion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

main #post-list .article-body .discussion-title button {
  padding: 0.5rem;
  color: #363d44;
  border: 1px solid #d2d6db;
  background-color: white;
  font-size: 1rem;
  padding: 6px 14px;
  border-radius: 5px;
}

main #post-list .article-body .discussion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #post-list .article-body .discussion-body .discussion-comment {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-left: 0.5rem;
}

main #post-list .article-body .discussion-body .discussion-comment a:link,
main #post-list .article-body .discussion-body .discussion-comment a:visited,
main #post-list .article-body .discussion-body .discussion-comment a:active {
  text-decoration: none;
  color: #64707d;
}

main #post-list .article-body .code-conduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.85rem;
}

main #post-list .article-body .code-conduct a:link,
main #post-list .article-body .code-conduct a:visited,
main #post-list .article-body .code-conduct a:active {
  text-decoration: none;
  color: #64707d;
  margin: 0 0.5rem;
}

main #post-list article.section-read-next .article-body {
  margin-top: 2rem;
}

main #post-list article.section-read-next .article-body h2 {
  font-size: 1.5rem;
  padding-left: 0;
}

main #post-list article.section-read-next .article-body .list-next a:link,
main #post-list article.section-read-next .article-body .list-next a:visited,
main #post-list article.section-read-next .article-body .list-next a:active {
  text-decoration: none;
  color: #64707d;
  margin: 0 0.5rem;
}

main #post-list article.section-read-next .article-body .list-next .next-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #post-list article.section-read-next .article-body .list-next .next-article span {
  margin: 0;
}

main #post-list article.section-read-next .article-body .list-next .next-article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

main #post-list article.section-read-next .article-body .list-next .next-article div h3 {
  margin: 0;
  font-size: 1.25rem;
}

main #post-list article.section-read-next .article-body .list-next .next-article div p {
  margin: 0;
}

main #post-list article.section-read-next .article-body .list-next .next-article div h3:hover,
main #post-list article.section-read-next .article-body .list-next .next-article div p:hover {
  color: #3b49df;
}

main #post-list article.section-read-next .article-body .list-next .next-article .ico-profile {
  width: 4rem;
  height: 4rem;
}

@media only screen and (min-width: 768px) {
  main #post-list {
    width: 100%;
  }
  main #post-list article .article-body {
    margin: 0.5rem 4rem;
  }
  main #post-list article .article-body h1 {
    font-size: 36px;
  }
  main #side-right {
    position: -webkit-sticky;
    position: sticky;
    /*top: 15px;*/
    /*z-index: 100;*/
    top: 80px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    max-width: 346px;
  }
  main #side-right a:link,
  main #side-right a:visited,
  main #side-right a:active {
    text-decoration: none;
  }
  main #side-right ul .flex-min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #side-right .ico-profile2 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  main #side-right .card-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  main #side-right .card-work .work-hover {
    color: #3b49df;
    cursor: pointer;
  }
  main #side-right .card-work .opacity {
    opacity: 0.5;
  }
  main #side-right .card-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-weight: bold;
    font-size: 20px;
  }
  main #side-right .card-flex > :last-of-type:hover {
    color: #3b49df;
    cursor: pointer;
  }
  main #side-right .card-flex > {
    color: #08090a;
  }
  main #side-right .side-right-profile {
    border-top: 33px solid #922180;
    padding: 16px;
  }
  main #side-right .side-right-profile .top-profile {
    margin-top: -45px;
  }
  main #side-right .side-right-profile ul {
    list-style: none;
  }
  main #side-right .side-right-profile .card-content {
    padding-bottom: 14px;
  }
  main #side-right .side-right-profile .card-title-sec {
    font-weight: bold;
    font-size: 12px;
    color: #4d5760;
  }
  main #side-right .side-right-profile button {
    background-color: #3b49df;
    color: white;
    border: 0px;
    padding: 14px 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
  }
  main #side-right .side-right-profile button:hover {
    background-color: #323ebe;
  }
  main #side-right .side-right-profile button:active {
    content: "Following";
    background-color: #eef0f1;
    border: 1px solid #b5bdc4;
  }
}

@media only screen and (min-width: 1024px) {
  main #post-list article .article-body h1 {
    font-size: 48px;
  }
}
/*# sourceMappingURL=interior.css.map */