body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main{
    #post-list{
        max-width: 1280px;
        h1{
            margin:0 0 1rem;
        }
        article{
            cursor: inherit;
        }
        .article-body{
            margin: .5rem 1.25rem;
            font-size: 1.25rem;
            a:link, a:visited, a:active {
                color: #3b49df;
            }
            .tags {
                padding: 0;
                
                a{
                    margin-right: .5rem;
                    &:nth-of-type(1){
                        background-color: #562765;
                        color:white;
                        padding: 0.25rem 0.5rem;
                    }
                    &:nth-of-type(2){
                        background-color: #f7df1e;
                        color:#08090a;
                        padding: 0.25rem 0.5rem;
                    }
                    &:nth-of-type(3){
                        background-color: #2a0798;
                        color:white;
                        padding: 0.25rem 0.5rem;
                    }
                    &:nth-of-type(4){
                        background-color: #008335;
                        color:white;
                        padding: 0.25rem 0.5rem;
                    }
                    
                    
                }
            }
            .autor{
                .autor-name{
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    div{ 
                        margin-right: .5rem;
                    }
                }
            }
            
            p,ul{
                margin: 0 0 1.25rem 0;
            }
            ul{
                padding-left: 1.5rem;     
            }
            .article-content{
                img{
                    width: 100%;
                }
                
            }
            .discussion-title{
                display: flex;
                justify-content: space-between;
               
                button{
                    padding: .5rem;
                }
            }
            .discussion-body{
                display: flex;
                .discussion-comment{
                    a:link, a:visited, a:active {
                        text-decoration:none;
                        color:#64707D;
                        
                    }
                    border:1px solid #ccc;
                    border-radius: .25rem;
                    padding: 1rem;
                }

            }
            .code-conduct{
                display: flex;
                justify-content: center;
                font-size: .85rem;
                
                
                a:link, a:visited, a:active {
                    text-decoration:none;
                    color:#64707D;
                    margin:0 .5rem;
                }
            }

        }
        
        article.section-read-next{
            .article-body{
                margin-top: 2rem;
                h2{
                    font-size: 1.5rem;
                    padding-left: 0;
                }
                .list-next{
                    a:link, a:visited, a:active {
                        text-decoration:none;
                        color:#64707D;
                        margin:0 .5rem;
                    }
                    .next-article{
                        display: flex;
                        align-items: center;
                        span{
                            margin:0;
                        }
                        div{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 1rem;
                            h3{
                                margin: 0;
                                font-size: 1.25rem;
                            }
                            p{
                                margin: 0;
                            }

                            h3:hover,p:hover{
                                color:#3b49df;
                                
                            }
                            
                                
                            
                        }
                        .ico-profile{
                            width: 4rem;
                            height: 4rem;
                        }
                    }
                }
            }
        }    
    }
}

@media only screen and (min-width: 768px) {
    main{
        #post-list{
            article{
                .article-body{
                    margin: .5rem 4rem;    
                    h1{
                        font-size: 36px; 
                    }
                }
            }
            
        }
    }        
}   

@media only screen and (min-width: 1024px) {
    main{
        #post-list{
            article{
                .article-body{    
                    h1{
                        font-size: 48px; 
                    }
                }
            }
            
        }
    }  
}    