/*

CSS - background-color:#2965F1;color:#ffffff

#webdev - background-color:#562765;color:#ffffff
#beginners - background-color:#008335;color:#FFFFFF
#tutorial - background-color:#FEFFA5;color:#b30047

transition
cubic-bezier(0.17, 0.67, 0.5, 0.71);

#3b49df
#f9fafa
#08090a 
#eef0f1
#323ebe
#d2d6db
#b5bdc4 (hover)
#4d5760
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef0f1;
  color: #4d5760;
}

h1,
h2,
h3 {
  color: #08090a;
  margin: 4px 0 16px 0;
}

.profile {
  border-radius: 50%;
  width: 34px;
}

/************* HEADER *****************/
header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px 0;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

header .header-wrapper .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrapper .menu-left .hamb-button {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
}

header .header-wrapper .menu-left .hamb-button:hover {
  cursor: pointer;
}

header .header-wrapper .menu-left .hamb-button:before {
  content: "";
  width: 60%;
  display: block;
  height: 2px;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  -webkit-box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
          box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
}

header .header-wrapper .menu-left input[type="checkbox"] {
  display: none;
}

header .header-wrapper .menu-left input[type="checkbox"]:checked + ul {
  display: none;
}

header .header-wrapper .menu-left .logo {
  width: 40px;
  height: 40px;
}

/************* CONTENIDO INTERNO *****************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto 0 auto;
  /*SECTION SIDE LEFT*/
  /*SECTION POST LIST*/
  /*SECTION SIDE RIGHT*/
}

main section {
  margin: 0 15px;
}

main #side-left {
  display: none;
}

main #side-left .hamb-button {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #333;
  border-radius: 5px;
  position: absolute;
  top: 0;
}

main #side-left .hamb-button:hover {
  cursor: pointer;
}

main #side-left .hamb-button:before {
  content: "";
  width: 60%;
  display: block;
  height: 2px;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  -webkit-box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
          box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
}

main #side-left .banner-side {
  width: 100%;
  max-width: 270px;
}

main #post-list.post-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #post-list.post-wrapper .img-wrapper {
  width: 100%;
  padding-top: 43%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #post-list.post-wrapper article {
  border: 1px solid #acacac;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 5px 0;
}

main #post-list.post-wrapper article .reacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #side-right {
  background-color: #f9fafa;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
}

main #side-right .list {
  border-top: 1px solid #ccc;
  padding: 17px 0;
  cursor: pointer;
}

main #side-right .list div:nth-child(2) {
  padding-top: 10px;
  font-size: 12px;
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  main #side-left {
    display: block;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  main #side-right {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */