/*

CSS - background-color:#2965F1;color:#ffffff

#webdev - background-color:#562765;color:#ffffff
#beginners - background-color:#008335;color:#FFFFFF
#tutorial - background-color:#FEFFA5;color:#b30047

transition
cubic-bezier(0.17, 0.67, 0.5, 0.71);

#3b49df
#f9fafa
#08090a 
#eef0f1
#323ebe
#d2d6db
#b5bdc4 (hover)
#4d5760
*/
$color-grey: #d2d6db;
$color-grey-light: #d2d6db;
$color-grey-middle: #76808c;
$color-grey-dark: #4d5760;
$color-black: #08090a;
$color-blue: #323ebe;

textarea:focus,
input:focus {
  outline: none;
}

b {
  color: $color-black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef0f1;
  color: $color-grey-dark;
  position: relative;
}

h1,
h2,
h3 {
  color: $color-black;
  margin: 4px 0 16px 0;
}

.ico-profile {
  border-radius: 50%;
  width: 34px;
}

.menu {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:last-of-type {
      padding: 10px 0 10px 36px;
      font-size: 11pt;
      color: $color-grey-middle;
    }
    &:hover {
      background-color: $color-grey;
      color: $color-blue;
    }
  }
}

/************* HEADER *****************/

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    .menu-left {
      display: flex;
      align-items: center;
      width: 100%;
      /* BOTON HAMBURGUESA */
      .hamb-button {
        width: 50px;
        height: 50px;
        display: inherit;
        @media screen and (min-width: 768px) {
          display: none;
        }
        &:hover {
          cursor: pointer;
        }
        &:before {
          content: "";
          width: 60%;
          display: block;
          height: 2px;
          background-color: #333;
          margin-left: auto;
          margin-right: auto;
          margin-top: 14px;
          box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
        }
      }
      input[type="checkbox"] {
        display: none;
        &:checked + div {
          display: none;
        }
      }
      .menu {
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
        display: inherit;
        @media screen and (min-width: 768px) {
          display: none;
        }
        .menu-wrapper {
          background-color: white;
          height: 100%;
          width: 50vw;
          max-width: 300px;
          margin: 0;
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 16px;
            h2 {
              margin: 0;
              font-size: 14pt;
            }
            .close-button {
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              font-weight: bold;
              font-size: 22px;
              cursor: pointer;
              display: flex;
              border-radius: 50%;
              &:hover {
                background-color: $color-grey-light;
              }
            }
          }

          ul {
            padding: 0 10px;
          }
        }
      }

      .logo {
        width: 40px;
        height: 40px;
      }
      .search {
        font-size: 12pt;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 0 6px;
        height: 100%;
        margin: 0 20px;
        width: 100%;
        max-width: 400px;
        display: none;
        @media screen and (min-width: 768px) {
          display: inherit;
        }
      }
    }
    .menu-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 210px;
      img {
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        &.ico-search {
          display: inherit;
          @media screen and (min-width: 768px) {
            display: none;
          }
        }
        &:last-of-type {
          padding: 0;
        }
        &:hover {
          background-color: $color-grey-light;
        }
      }
    }
  }
}

/************* CONTENIDO INTERNO *****************/

main {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 20px auto 0 auto;

  section {
    margin: 0 15px;
  }

  /*SECTION SIDE LEFT*/
  #side-left {
    display: none;
    .hamb-button {
      width: 50px;
      height: 50px;
      display: block;
      border: 1px solid #333;
      border-radius: 5px;

      position: absolute;
      top: 0;

      &:hover {
        cursor: pointer;
      }
      &:before {
        content: "";
        width: 60%;
        display: block;
        height: 2px;
        background-color: #333;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
        box-shadow: 0px 10px 0 0 #333, 0px 20px 0 0 #333;
      }
    }
    .banner-side {
      width: 100%;
      max-width: 270px;
    }
    h2 {
      color: $color-blue;
      text-align: center;
    }
  }

  /*SECTION POST LIST*/
  #post-list {
    &.post-wrapper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      .section-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 20px;
        .filter-desktop {
          display: none;
        }
        select {
          padding: 10px;
          border-radius: 5px;
        }
      }

      .img-wrapper {
        width: 100%;
        padding-top: 43%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      article {
        border: 1px solid #acacac;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 5px 0;
        .reacts {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  /*SECTION SIDE RIGHT*/
  #side-right {
    background-color: #f9fafa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    h1 {
    }
    .list {
      border-top: 1px solid #ccc;
      padding: 17px 0;
      cursor: pointer;
      & div:nth-child(2) {
        padding-top: 10px;
        font-size: 12px;
      }
    }
  }
}

/*TABLET*/
@media only screen and (min-width: 768px) {
  main {
    #side-left {
      display: block;
    }
    #post-list {
      .section-title {
        .filter-movil {
          display: none;
        }

        .filter-desktop {
          display: inherit;
          display: flex;
          justify-content: space-evenly;
        }
      }
    }
  }
}

/*DESKTOP*/
@media only screen and (min-width: 1024px) {
  main {
    #side-right {
      display: block;
    }
  }
}

/*FOOTER*/
footer {
  padding: 30px 0;
  background-color: $color-grey;
  position: relative;
  width: 100%;
  .mono {
    position: absolute;
    right: 30px;
    top: 0;
    width: 60px;

    transition: 0.5s ease-in-out;
    transform-origin: top center;
    transform: all;
    display: none;
    @media screen and (min-width: 768px) {
      display: inherit;
    }
    &:hover {
      transform: rotate(10deg);
    }
  }
  .footer-wrapper {
    margin: 0 auto;
    width: 92%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    // ROW 1
    .footer-menu {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        text-align: center;
        li {
          padding: 12px 16px;
          cursor: pointer;
          &:hover {
            color: $color-blue;
          }
        }
      }
    }
    // ROW 2
    .footer-redes {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #ccc;
      padding-bottom: 20px;
      width: 24%;
      margin: auto;
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
      img {
        padding: 0px 6px;
        cursor: pointer;
      }
    }

    // Row 3
    .footer-txt1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10pt;
      text-align: center;
      p:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }
}
